*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
   
}

body{
    padding: 0 10px;

    color: black;
    background: #f2f2f2;
}



.container {
    margin-left: 36%;
    width: 30%;
    padding: 10px 20px;
    margin-top: 150px;
    /* border: 1px solid #ccc; */
}

.mainName {
    text-align: center;
    border-bottom: 1px solid #cccccc;
    padding: 5px 0;
}
.typeScreen {
    margin-top: 40px;
}
/* .labelName {
    color: #ccc;
} */
.container,input[type=email],[type=password]{
    display: block;
    width:400px;
    padding: 12px;
    border-radius: 4px;
    margin-right: 20px;
}  
input[type=email],[type=password] {
    border: 1px solid #ccc;

}
/* button */
.button{
    margin-left: 130px;
}
.Password-Reset-button {
    background: blue;
    color: #fff;
    padding:9PX 22px; 
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
}
.Password-Reset-button:hover{
    opacity: 0.5;
}